[package]
name = "vfs"
version = "0.5.1-alpha.0"
authors = ["Manuel Woelker <github@manuel.woelker.org>"]
description = "A virtual filesystem for Rust"
repository = "https://github.com/manuel-woelker/rust-vfs"
readme = "README.md"
keywords = ["vfs", "virtual",  "filesystem"]
license = "Apache-2.0"
edition = "2018"

[badges]
travis-ci = { repository = "manuel-woelker/rust-vfs", branch = "master" }

[dependencies]
thiserror = "1.0"
rust-embed = { version = "5.6", optional = true }
radix_trie = { version = "0.1", optional = true }
hyper = { version = "0.14.2", features = [ "server" ] }
hyper-rustls = "0.22.1"
rustls = "0.19.0"
tokio = { version = "1.1.0", features = [ "io-std", "macros", "net", "rt-multi-thread" ] }
tokio-rustls = "0.22.0"
syn = "1.0.60"
async-stream = "0.3.0"
futures-util = { version = "0.3.12", default-features = false }
reqwest = { version = "0.11", features = ["blocking", "cookies"] }
serde  = { version = "1.0.123", features = ["derive"] }
serde_json = "1.0.60"
base64 = "0.13.0"
rand = "0.8.3"
chrono = "0.4.0"

[dev-dependencies]
uuid = { version = "=0.8.1", features = ["v4"] }
lazy_static = "1.4.0"

[features]
embedded-fs = ["rust-embed", "radix_trie"]
