[package]
name = "vfs"
version = "0.5.3-alpha.0"
authors = ["Manuel Woelker <github@manuel.woelker.org>"]
description = "A virtual filesystem for Rust"
repository = "https://github.com/manuel-woelker/rust-vfs"
readme = "README.md"
keywords = ["vfs", "virtual",  "filesystem"]
license = "Apache-2.0"
edition = "2018"

[badges]
travis-ci = { repository = "manuel-woelker/rust-vfs", branch = "master" }

[dependencies]
thiserror = "1.0"
rust-embed = { version = "5.6", optional = true }
radix_trie = { version = "0.1", optional = true }

[dev-dependencies]
uuid = { version = "=0.8.1", features = ["v4"] }
camino = "1.0.5"

[features]
embedded-fs = ["rust-embed", "radix_trie"]
export-test-macros = []
